/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  position: relative;
  box-sizing: border-box;
}

body {
  /*width: 900px;*/
  font-family: 'Exo 2', sans-serif;
}
button {
  
  border: 1px solid grey;
  margin: 10 px;
  color: #fff;
  padding: 6px;
}

.home-container {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.login-form-container {
  display: inline-block;
  /*width: 40%;*/
}

.login-form-box {
}

.login-form {
  border: 1px solid #aaa;
  padding: 30px;
  margin-bottom: 23px;
}

.login-form label {
  /*display: block;*/
}

.login-form label span {
  width: 70px;
  display: inline-block;
}

.login-form input {
  padding: 5px;
  margin-left: 20px;
}

.guest-in-button {
  display: block;
  margin: 0 auto;
  background-color: #92d892;
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 4px;
}

.button-container {
  text-align: right;
  margin-top: 12px;
}

.button-container button {
  display: inline-block;
}

.login-button {
  margin-right: 10px;
}

.opening-gif {
  display: block;
  width: 55%;
  height: 80%;
}

.title-logo {
  line-height: 1;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.navbar {
  padding: 10px 45px;
  margin-bottom: 50px;
}

.tagline {
  font-size: 45px;
}
