/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: 'Exo 2', sans-serif;
}
button {
  background-color: #grey;
  border: 1px solid grey;
  margin: 10 px;
  color: #fff;
  padding: 6px;
}

.login-form {
  border: 1px solid #aaa;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 6rem;
  width: 28%;
}

.login-form input {
  padding: 5px;
}
