@import url("normalize.css");
@keyframes shrink {
  0% {
    transform: scale(1.5);
    margin-top: 60px;
    padding-left: 130px;
    opacity: 1;
  }
  91% {
    transform: scale(1.5);
    margin-top: 60px;
    opacity: 1;
    padding-left: 130px;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  80% {
    transform: scale(0.1);
    opacity: 0;
  }
  95% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceIn2 {
  0% {
    transform: scale(0.5);
    opacity: 1;

  }

  95% {
    transform: scale(0.5);
    opacity: 1;

  }
  100% {
    transform: scale(1);
    opacity: 1;

  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  position: relative;
  box-sizing: border-box;

}

body {
  /*width: 900px;*/
  font-family: 'Exo 2', sans-serif;
  /*background-color: inherit;*/
  background-color: #ffffcc;
}

.title-logo {

  width: 15%;
  height: 15%;
}
ol, ul {
  list-style: none;
}


button {

  border: 1px solid grey;
  margin: 10 px;
  color: #222020;
  padding: 6px;
}

.login-form {
  background-color: #ffffcc;
}
.home-container {
  /*background-image: url("https://media.giphy.com/media/A06UFEx8jxEwU/giphy.gif");*/
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.login-form-container {
  animation-duration: 3.5s;
  animation-name: bounceIn;

  display: inline-block;
  /*width: 40%;*/
}

.login-form-box {
}

.login-form {
  border: 1px solid #aaa;
  padding: 30px;
  margin-bottom: 23px;
}

.login-form label {
  /*display: block;*/
}

.login-form label span {
  width: 70px;
  display: inline-block;
}

.login-form input {
  padding: 5px;
  margin-left: 20px;
}

.guest-in-button {
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
  background-color: #92d892;
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 4px;
}

.guest-in-button:hover {
  padding: 24px 36px;
  border-radius: 30px;
  background-color: #5DFC0A;
  transform: rotate(1080deg);
}


.button-container {
  text-align: right;
  margin-top: 12px;

}

.button-container button {
  display: inline-block;
}

.login-button {
  margin-right: 10px;
}

.opening-gif {
  animation-duration: 3s;
  animation-name: shrink;

  display: block;
  width: 55%;
  height: 80%;
}
.index-item-image {
  width: 100%;
}
.ul-container {
  text-align: center;
}

.index-item-title {
  text-align: left;
  padding-top: 30px;
}
.index-item-list {
  display: inline-block;
  margin: auto;
  display: inline-block
}

.index-item-li-container {
  width: 80%;
  padding-left: 70px;
}
.title-logo {
  animation-duration: 3.6s;
  animation-name: bounceIn2;
  line-height: 1;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.topbar {
  padding: 10px 45px;
  margin-bottom: 50px;
}

.tagline {
  animation-duration: 3.6s;
  animation-name: bounceIn2;
  font-size: 45px;
}

button, input[type="submit"] {
 cursor: pointer;
 transition: filter .3s, -webkit-filter .3s;
}

button:hover, input[type="submit"]:hover {
 filter: brightness(85%);
 -webkit-filter: brightness(85%);
}

.whole-bar-container {
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  opacity: 1.0;
  opacity: 1.0;
  padding-right: 10px;
  padding-left: 10px;
}

.hot-button {
  vertical-align: center;
  padding-left: 18px;
  padding-right: 15px;
  background: black;
  font-size: 12px;
  color: white;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.hot-button:hover {
  background-color: darkgrey;
}

.fresh-button {
  vertical-align: center;
  border-top: none;
  border-bottom: none;
  background: black;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
.fresh-button:hover {
  background-color: darkgrey;
}
.logout-button {
  vertical-align: center;
  background: black;
  font-size: 12px;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: none;
  border-bottom: none;
}

.logout-button:hover {
  background-color: darkgrey;
}


.right-side-container {
  height: 100%;
}
.left-side-container {
  display: flex;
}
.upload-button {
  font-size: 12px;
  padding: 3;
  margin-left: 10px;
  vertical-align: center;
  height: 100%;
  background: #3399ff;
  color: white;
  border: 1px solid darkgrey;
  border-radius: 7px;
}

.title-logo-navbar {
  width: 13%;
  height: 13%;
  /*margin: 2px;*/
  /*padding: 2px;*/

}

.points-comments {
  font-size: 12px;
  display: block;
  color: darkgrey;
  text-align: left;
}

.vote-comment-button-container {
  align-content: space-around;
  text-align: left;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 20px;
}

.upvote-button {
  background-color:  #ffffcc;;
  border: 1px solid darkgrey;
  padding: 5px;
  margin: 5px 5px 5px 0px;

}

.downvote-button {
  background-color:  #ffffcc;;
  border: 1px solid darkgrey;
  padding: 6px 14px 7px 14px;
  margin: 5px;
}

.comment-button {
  background-color:  #ffffcc;;
  border: 1px solid darkgrey;
  padding: 5px 14px;
  margin: 5px;
}

.index-detail-page {

}
.index-detail-container {
  padding-top: 0;
}
.index-item-li-container {
  list-style: none;
}
